/********* Fonts ************/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Poppins:wght@500;600;700&display=swap');

/********* Main ************/
:root {
    --header-height: 3rem;

    /* COLORS */
    --hue-color: 190;

    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    /* FONTS */
    --body-font: 'Fira Sans', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .93rem;
    --small-font-size: .81rem;
    --smaller-font-size: .75rem;

    --font-med: 500;
    --font-semi-bold: 600;

    /* MARGINS BOTTOM */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* HOVER OVERLAY */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.2);
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .87rem;
        --smaller-font-size: .8rem;
    }
}

/********* Dark Theme Var ************/
body.dark-theme{
    /* COLORS */
    --first-color-second: hsl(var(--hue-color), 54%, 12%);
    --title-color: hsl(var(--hue-color), 24%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 29%, 12%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/********* Dark/Light Button ************/
.nav_dark{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}
.change-theme, .change-theme-name{
    color: var(--text-color);
}
.change-theme{
    cursor: pointer;
    font-size: 1rem;
}
.change-theme-name{
    font-size: var(--small-font-size);
}


/********* Base ************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

img,
video {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

/********* CSS Classes (Resuable) ************/
.section {
    padding: 4.5rem 0 2.5rem;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/********* ScrollBar ************/
::-webkit-scrollbar{
    width: .6rem;
    background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/********* Header ************/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;

}

/********* NavBar ************/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle {
    color: var(--white-color);
}

.nav_logo {
    font-weight: var(--font-semi-bold);
}

.nav_toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_menu {
    position: relative;
}

@media screen and (max-width:767px) {
    .nav_menu {
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
        padding: 3rem;
        transition: .4s;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav_link {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

.nav_link:hover {
    color: var(--text-color);
}

.nav_close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* SHOW MENU */
.show-menu {
    right: 0;
}

/* ACTIVE LINK */
.active-link{
    position: relative;
    color: var(--title-color);
}
.active-link::before{
    content: '';
    background-color: var(--title-color);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -.75rem;
    left: 0;
}

/* BACKGROUND HEADER */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsl(var(--hue-color), 64%, 15%, .15);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle {
    color: var(--title-color);
}

/********* Home ************/
.home_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 83%;
}

.home_container {
    position: relative;
    height: calc(100vh - var(--header-height));
    align-content: center;
    row-gap: 3rem;
}

.home_data-subtitle,
.home_data-title,
.home_info {
    color: var(--white-color);
}

.home_data-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}

.home_data-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-med);
    margin-bottom: var(--mb-2-5);
}

.home_info {
    background-color: var(--first-color);
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    column-gap: .5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 228px;
}

.home_info-title {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}

.home_info-button {
    font-size: var(--smaller-font-size);
}

.home_info-overlay {
    overflow: var(--img-hidden);
}

.home_info-img {
    width: 150px;
    transition: var(--img-transition);
}

.home_info-img:hover {
    transform: var(--img-scale);
}

/********* Buttons ************/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button-flex {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.button-link {
    background: none;
    padding: 0;
}

.button-link:hover {
    background: none;
}

/********* About ************/
.about_data {
    text-align: center;
}

.about_container {
    row-gap: 2.5rem;
}

.about_description {
    margin-bottom: var(--mb-2);
}

.about_img {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.about_img-overlay {
    overflow: var(--img-hidden);
}

.about_img-one {
    width: 130px;
    transition: var(--img-transition);
}

.about_img-two {
    width: 180px;
    transition: var(--img-transition);
}

.about_img-one:hover,
.about_img-two:hover {
    transform: var(--img-scale);
}

/********* Discover ************/
.discover_card {
    position: relative;
    width: 200px;
    overflow: var(--img-hidden);
}

.discover_data {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}

.discover_title,
.discover_description {
    color: var(--white-color);
}

.discover_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.discover_description {
    display: block;
    font-size: var(--smaller-font-size);
}

.discover_img {
    transition: var(--img-transition);
}

.discover_img:hover {
    transform: var(--img-scale);
}

/********* Experience ************/
.experience_container {
    row-gap: 2.5rem;
    justify-content: center;
    justify-items: center;
}

.experience_content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    justify-items: center;
    padding: 0 2rem;
}

.experience_number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.experience_description {
    font-size: var(--small-font-size);
}

.experience_img {
    position: relative;
    padding-bottom: 2rem;
}

.experience_overlay:nth-child(1) {
    width: 270px;
    margin-right: 2rem;
}

.experience_overlay:nth-child(2) {
    width: 140px;
    position: absolute;
    top: 2rem;
    right: 0;
}

.experience_img-one,
.experience_img-two {
    transition: var(--img-transition);
}

.experience_img-one:hover,
.experience_img-two:hover {
    transform: var(--img-scale);
}

.experience_overlay {
    overflow: var(--img-hidden);
}

/********* Video ************/
.video_container {
    padding-bottom: 1rem;
}

.video_description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.video_content {
    position: relative;
}

.video_button {
    position: absolute;
    right: 1rem;
    bottom: -1rem;
    padding: 1rem 1.5rem;
}

.video_button-icon {
    font-size: 1.2rem;
}

/********* Places ************/
.place_img {
    height: 100%;
    width: 100%;
}

.place_card {
    height: 230px;
    width: 150px;
    position: relative;
    overflow: var(--img-hidden);
}

.place_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    justify-items: center;
}

.place_content,
.place_title {
    color: var(--white-color);
}

.place_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75rem .75rem 1rem;
}

.place_rating {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.place_rating-icon {
    font-size: .75rem;
    margin-right: var(--mb-0-25);
}

.place_rating-number {
    font-size: var(--small-font-size);
}

.place_subtitle,
.place_price {
    display: block;
}

.place_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.place_subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1-25);
}

.place_button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .75rem 1rem;
}

.place_img {
    transition: var(--img-transition);
}

.place_card:hover .place_img {
    transform: var(--img-scale);
}

/********* Subscribe ************/
.subscribe_bg {
    background-color: var(--first-color-second);
    padding: 2.5rem 0;
}

.subscribe_title,
.subscribe_description {
    color: var(--white-color);
}

.subscribe_description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.subscribe_form {
    background-color: var(--input-color);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.subscribe_input {
    width: 70%;
    padding-right: .5rem;
    background-color: var(--input-color);
    color: var(--text-color);
}

.subscribe_input::placeholder {
    color: var(--text-color);
}

/********* Sponsors ************/
.sponsor_container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
    row-gap: 3.5rem;
}

.sponsor_img {
    width: 95px;
    transition: var(--img-transition);
}

.sponsor_content:hover .sponsor_img {
    filter: invert(.3);
}

/********* Footer ************/
.footer_container {
    row-gap: 5rem;
}

.footer_content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer_title,
.footer_subtitle {
    font-size: var(--h3-font-size);
}

.footer_title {
    margin-bottom: var(--mb-0-5);
}

.footer_description {
    margin-bottom: var(--mb-2);
}

.footer_social {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1-25);
}

.footer_social:hover {
    color: var(--text-color-light);
}

.footer_subtitle {
    margin-bottom: var(--mb-1);
}

.footer_item {
    margin-bottom: var(--mb-0-75);
}

.footer_link {
    color: var(--text-color);
}

.footer_link:hover {
    color: var(--title-color);
}

.footer_rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

.footer_copy,
.footer_terms-link {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.footer_terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}

.footer_terms-link:hover {
    color: var(--text-color);
}

/********* Scroll Up ************/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    opacity: .8;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
}

.scrollup-icon {
    color: var(--white-color);
}

/* SHOW SCROLL */
.show-scroll{
    bottom: 5rem;
}